
.top-nav {
  display: flex;
  justify-content: space-between;

  &__group {
    display: flex;
    margin: -1rem;
  }

  &__item {
    margin: 0;
    font-size: 1.2rem;
  }

  a {
    display: inline-block;
    padding: 1rem;
    color: inherit;
    text-decoration: none;
  }
}
