<div class="app">
  <div class="app__top">
    <div class="container">
      <nav class="top-nav">
        <div class="top-nav__group">
          <h1 class="top-nav__item"><a href="/">PunchStarter</a></h1>
        </div>

        <ul class="top-nav__group">
          <li class="top-nav__item"><a href="/">Recommended</a></li>
          <li class="top-nav__item"><a href="/">Login</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="app__content">
    {{ outlet }}
  </div>
</div>
