<div class="app">
  <div class="app__top">
    <div class="container">
      <nav class="top-nav">
        <div class="top-nav__group">
          <h1 class="top-nav__item">{{#link-to "index"}}PunchStarter{{/link-to}}</h1>
        </div>

        <ul class="top-nav__group">
          <li class="top-nav__item">{{#link-to "index"}}Recommended{{/link-to}}</li>
          <li class="top-nav__item">{{#link-to "project.index"}}Projects{{/link-to}}</li>
          <li class="top-nav__item">
            {{#link-to "login"}}Login{{/link-to}}
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="app__content">
    {{ outlet }}
  </div>
</div>
