<div class="container">
  <div class="grid grid--centered">
    <div class="grid__item grid__item--max-half">
      <div class="card">
        <h2 class="card__heading">Login</h2>
      </div>
    </div>
  </div>
</div>
