{{#link-to "project.new-project"}}Add new{{/link-to}}
<div class="container">
  <table>
    <thead>
      <th>Name</th>
      <th>Goal</th>
      <th></th>
    </thead>
    <tbody>
      {{#each model as |project|}}
        <tr>
          <td>{{ project.name }}</td>
          <td>${{ locale-number project.goal }}</td>
          <td>{{#link-to "project.edit" project.id}}edit{{/link-to}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
